body{
  padding-top: 55px;
}


#carouselContainer{
  width: 100%;
}

.carousel-item {
  
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  
}

.carousel-caption{
  background-color: rgba(100, 100, 100, 0.5);
  
}

#leftnav{
  height: 100%;
}

.progress{
  margin: 20px auto;
}
.progress-bar{
  width: 25%;
}

#todocard{
  max-width: 18rem;
}